@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden; 
  }
  html {
    scroll-behavior: smooth;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.9
    ); 
    padding: 10px 150px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
    color: white; 
    letter-spacing: 2px;
    text-transform: lowercase;
  }
  
  .fancy-w {
    font-family: "Georgia", serif; 
    font-size: 40px; 
    color: white; 
  }
  
  .heart {
    font-size: 18px;
    color:  #36c449; 
  }
  
  .navbar ul li a.active {
    color:  #36c449 !important; 
  }
  .navbar ul {
    gap: 15px; 
  }
  
  .navbar ul li {
    list-style-type: none;
    display: inline-block;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 8px 12px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #74bb7d;
    transition: 0.4s;
  }

  .contact-btn {
    display: inline-block;
    padding: 8px 20px;
    color: #36c449;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: #36c449;
    border-radius: 25px 10px 25px 10px;
  }
  
  .contact-btn:hover {
    background-color: #74bb7d; 
    color: white; 
  }
  
  .hero {
    height: auto;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1; 
  }

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("Images/Mixing fruits.jpeg") no-repeat center center/cover;
  filter: blur(30px); 
  z-index: -2; 
}


.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

  .logo img {
    height: 60px; 
    object-fit: cover; 
  }
 
.user-auth {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth-btn {
  background: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid #36c449;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px 10px 25px 10px;
}

.auth-btn:hover {
  background-color: #74bb7d;
  color: white;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.auth-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal.active{
  display: flex !important;
}

.auth-modal-content {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.auth-btn {
  background: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid #36c449;
  border-radius: 25px 10px 25px 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #74bb7d;
  color: white;
}

.auth-container {
  text-align: center;
}

.auth-container h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #36c449;
  border-radius: 5px;
  font-size: 16px;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #36c449;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.auth-container button:hover {
  background: #74bb7d;
}

.auth-toggle {
  margin-top: 15px;
  font-size: 14px;
}

.auth-toggle a {
  color: #36c449;
  font-weight: bold;
  text-decoration: none;
}

.auth-toggle a:hover {
  text-decoration: underline;
}

.g_id_signin {
  margin-top: 10px;
  display: block;
}

.terms-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  font-size: 14px;
}

.terms-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.hero-content {
  position: absolute; 
  top: 55%; 
  left: 8%;
  transform: translateY(-50%); 
  max-width: 650px; 
}

.tagline {
  font-size: 15px;
  font-weight: semibold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.0;
  color: white;
}

.highlight-green {
  color: #36c449;
  font-family: 'Abril Fatface', serif;
}

.highlight-orange {
  color: #F17D2B;
  font-family: 'Achitects Daughter';
}


.description {
  font-size: 16px;
  color: white;
  margin-top: 25px;
  line-height: 1.8;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.green-btn {
  background-color: #36c449;
  color: white;
  border-radius: 25px 10px 25px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.white-btn {
  background-color: white;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 25px 10px 25px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.green-btn:hover {
  background-color: #388E3C;
  transform: scale(1.05); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.white-btn:hover {
  transform: scale(1.05); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.white-btn::after {
  transition: margin-left 0.3s ease;
}


.white-btn:hover::after {
  margin-left: 5px;
}

.features {
  display: flex;
  justify-content: flex-start; 
  gap: 60px; 
  margin-top: 20px; 
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: white; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.icon-circle img {
  width: 35px; 
  height: 35px;
}

.feature p {
  margin-top: 10px;
  font-size: 14px;
  color: #fff; 
}

.hero-image-container {
  position: relative;
  display: inline-block;
  justify-content: flex-end;
  margin-left: 1100px;
}

.hero-image {
  max-width: 75%;
  height: auto;
  margin-top: 60px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.4)); 
}

.floating-box {
  position: absolute;
  top: 530px;  
  right: 180px; 
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  width: 190px;
  height: 190px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.floating-box:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

@keyframes floatEffect {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

.floating-box {
  animation: floatEffect 4s infinite ease-in-out;
}

.circle-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}


.main-circle {
  background: white;
  color: black;
  font-size: 10px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 4; 
}

.fruit-circle {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: white; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  position: relative;
  z-index: 1;
  margin-left: -15px; 
  border: 2px solid white; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fruit-circle:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fruit-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.fruit-circle:nth-child(2) {
  z-index: 3;
  margin-left: -18px;
}

.fruit-circle:nth-child(3) {
  z-index: 2;
  margin-left: -18px;
}

.fruit-circle:nth-child(4) {
  z-index: 1;
  margin-left: -18px;
}

.fruit-circle:nth-child(5) { 
  z-index: -1;
  margin-left: -18px;
}

.box-title {
  font-size: 13px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.see-more-container {
  display: flex;
  align-items: center;
  gap: 8px; 
  cursor: pointer;
  margin-left: 10px;
  margin-top: 25px;
}
.see-more-link {
  text-decoration: none; 
  display: inline-block;
}

.see-more-text {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.see-more-arrow {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.see-more-arrow i {
  font-size: 18px;
  color: #36c449;
  transform: rotate(-45deg);
}

.healthy-box {
  position: absolute;
  top: 250px;
  right: 550px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  width: 220px;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.healthy-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

@keyframes floatEffect {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

.healthy-box {
  animation: floatEffect 4s infinite ease-in-out;
}

.healthy-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: white;
}

.benefit-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.benefit-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.learn-more-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #36c449;
  color: white;
  border-radius: 25px 10px 25px 10px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #e05500;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px;
  max-width: 100%;
  margin: auto;
  z-index: 1;
  position: relative;
  background: linear-gradient(to right, #363636, #F46B03, #363636);
  color: white;
}

.about-text {
  width: 50%;
  margin-top: -120px;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.about-text span {
  color: #ffcc00;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-list {
  list-style: none;
  padding: 0;
}

.about-list li {
  font-size: 1.1rem;
  margin: 10px 0;
}

/* Button */
.btn-about {
  display: inline-block;
  background: #ff4500;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}


.carousel {
  position: relative;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -500px;
  margin-right: 600px;
}

.dotted-line {
  position: absolute;
  width: 180%;
  height: auto;
  top: 0;
  left: -110px;
}

.circle-item {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
 
}



.circle-item img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.circle.active {
  width: 120px;
  height: 120px;
  background: #9c27b0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.circle-item:nth-child(2) { top: 60px; left: 20px; }
.circle-item:nth-child(3) { top: 20px; left: 110px; }
.circle-item:nth-child(4) { top: 0; left: 210px; }
.circle-item:nth-child(5) { top: 20px; left: 310px; }
.circle-item:nth-child(6) { top: 60px; left: 400px; }

.info-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 10;
}

.info-box .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
